@{
    ViewData["Title"] = "Contact Manager";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
